@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@import "preline/variants.css";
@source "../node_modules/preline/dist/*.js";
@custom-variant dark (&:where(.dark, .dark *));